{% extends 'main_base.html' %}

{% block title %}Area{% endblock %}

{% block main_content %}
    <div class="card" >
      <h5 class="card-header bg-info">{{ area.name }}</h5>
        <div class="card-body" style="padding: 0.5rem;">
          <div class="row">
              <div class="col-sm-2">
                  Map
                  <canvas id="myCanvas" width="400" height="800" style="border:1px solid #d3d3d3;">
                  </canvas>
              </div>
          </div>
      </div>
    </div>

    <script>
        var BASE_X = 180;
        var BASE_Y = 800;
        var RECT_SIZE = 40;
        var Y_LEVEL_SIZE = 100;
        var Y_SPACE_BETWEEN_RECTS = Y_LEVEL_SIZE - RECT_SIZE;
        var area_map = {% autoescape off %}{{ area }}{% endautoescape %}

        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        var drawn_rooms = {}

        draw_room("1_1", 0, 0)

        function draw_room(room_key, x_offset, branch_level) {
            drawn_rooms[room_key] = x_offset
            var room = area_map.rooms[room_key]
            var tier = parseInt(room_key.split('_')[0])
            var y_offset = -tier * Y_LEVEL_SIZE
            ctx.beginPath();
            ctx.lineWidth = "4";
            ctx.strokeStyle = "green";
            ctx.rect(BASE_X + x_offset, BASE_Y + y_offset, RECT_SIZE, RECT_SIZE);
            ctx.stroke();

            var branch_x_offset = 100;
            if(branch_level > 0) branch_x_offset = 50;
            if(room.next_rooms.length == 2) {
                draw_line(BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset,
                            BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset - (Y_SPACE_BETWEEN_RECTS/2));
                draw_line(BASE_X + x_offset + RECT_SIZE / 2 + branch_x_offset, BASE_Y + y_offset - (Y_SPACE_BETWEEN_RECTS/2),
                            BASE_X + x_offset + RECT_SIZE / 2 + branch_x_offset, BASE_Y + y_offset - Y_SPACE_BETWEEN_RECTS);
                draw_line(BASE_X + x_offset + RECT_SIZE / 2 - branch_x_offset, BASE_Y + y_offset - (Y_SPACE_BETWEEN_RECTS/2),
                            BASE_X + x_offset + RECT_SIZE / 2 - branch_x_offset, BASE_Y + y_offset - Y_SPACE_BETWEEN_RECTS);
                draw_line(BASE_X + x_offset + RECT_SIZE / 2 - branch_x_offset, BASE_Y + y_offset - (Y_SPACE_BETWEEN_RECTS/2),
                            BASE_X + x_offset + RECT_SIZE / 2 + branch_x_offset, BASE_Y + y_offset - Y_SPACE_BETWEEN_RECTS/2);
                draw_room(room.next_rooms[0], x_offset - branch_x_offset, branch_level + 1);
                draw_room(room.next_rooms[1], x_offset + branch_x_offset, branch_level + 1);
            } else if(room.next_rooms.length == 1) {
                var next_room = room.next_rooms[0]
                ctx.beginPath();
                ctx.lineWidth = "2";
                ctx.strokeStyle = "gray";
                var next_tier = parseInt(next_room.split('_')[0])
                var tier_multiplier = next_tier - tier
                if(drawn_rooms[next_room] != undefined) {
                    draw_line(BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset,
                            BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset - Y_LEVEL_SIZE * tier_multiplier + RECT_SIZE + (Y_SPACE_BETWEEN_RECTS/2));
                    draw_line(BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset - Y_LEVEL_SIZE * tier_multiplier + RECT_SIZE + (Y_SPACE_BETWEEN_RECTS/2),
                                BASE_X + drawn_rooms[next_room] + RECT_SIZE / 2, BASE_Y + y_offset - Y_LEVEL_SIZE * tier_multiplier + RECT_SIZE + (Y_SPACE_BETWEEN_RECTS/2))
                } else {
                    draw_line(BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset,
                            BASE_X + x_offset + RECT_SIZE / 2, BASE_Y + y_offset - Y_LEVEL_SIZE * tier_multiplier + RECT_SIZE);
                }
                ctx.stroke();
                if(drawn_rooms[next_room] == undefined) {
                    draw_room(next_room, x_offset, y_offset - Y_LEVEL_SIZE, branch_level);
                }
            }
        }

        function draw_line(from_x, from_y, to_x, to_y) {
            ctx.beginPath();
            ctx.lineWidth = "2";
            ctx.strokeStyle = "gray";
            ctx.moveTo(from_x, from_y);
            ctx.lineTo(to_x, to_y);
            ctx.stroke();
        }
    </script>
{% endblock %}